:host {
  display: block;
  background-color: #fff;
  height: 90%;
  min-width: 300px;
  font-family: sans-serif;
  div{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    border-top: 5px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

  }
  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    border: none;
    font-size: 1rem;
    border: 1px solid gray;
    thead {
      border-bottom: 1px solid rgba(128, 128, 128, 0.45);
      border-spacing: 0px;
      tr th {
        background-color: #d0d0d0;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        padding: .5rem;
        font-weight: bold;
      }
    }
    tr td {
      text-align: center;
      cursor: pointer;

    }
    tr:nth-child(odd) {
      background-color: #f2f2f2;
    }
    .currentDate {
      border-bottom: 2px solid gray;
      font-weight: bold;

    }
    .highlightDateCell{
      background-color: #d0d0d0;
      font-weight: bold;
    }
  }



}
